@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cousine', monospace;
}

#container{
  background-color: var(--ion-color-primary);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls{
  font-size: 2.3em;
  color: var(--font-color);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control{
  margin: 0.3em 0.5em 0.3em 0;
}

#claro{
  display: var(--claro);
}

#escuro{
  display: var(--escuro);
}

#calculadora{
  border: 5px solid var(--ion-color-tertiary);
  border-radius: 10px;
  height: 80vh;
  width: 50%;
}

#visor{
  height: 30vh;
  padding-right: 40px;
}

#conta{
  color: var(--font-color);
  height: 12vh;
  font-size: 2.4em;
  display: flex;
  align-items: center;
  justify-content: end;
}

#igual{
  color: var(--font-color);
  height: 2vh;
  font-size: 2.4em;
  display: flex;
  align-items: center;
  justify-content: end;
}

#resultado{
  color: var(--ion-color-quaternary);
  height: 16vh;
  font-size: 2.4em;
  display: flex;
  align-items: center;
  justify-content: end;
}

#guardaBotoes{
  height: 50vh;
  padding: 0vh 6vh;
}

.button{
  color: var(--font-color);
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao{
  background: var(--ion-color-secondary);
  background: linear-gradient(90deg, var(--ion-color-secondary) 66%, var(--ion-color-primary) 190%);
  width: 90%;
  height: 6vh;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.botao:hover {
  background: linear-gradient(90deg, var(--ion-color-secondary) 0%, var(--ion-color-tertiary) 0%);
}

#deletar{
  font-size: 1.7em;
}


// Histórico

.resultadoHistorico{
  font-weight: bolder;
  color: var(--ion-color-quaternary);
}

ul{
  margin: 5px 0;
  font-size: 1.2em;
}

ion-title{
  color: var(--font-color);
  font-weight: bolder;
  text-align: center;
}


@media (max-width:560px) {
  #calculadora{
    width: 70%;
  }
}

@media (max-width:380px) {
  #calculadora{
    width: 90%;
  }
  #botao{
    height: 8vh;
  }
  #guardaBotoes{
    padding: 0vh 3vh;
  }
  #conta{
    font-size:2em;
  }
  #resultado{
    font-size:2.2em;
  }
}
